* {
    margin: 0;
    padding: 0;
}

.home-adsect {
    display: flex;
    padding: 15vh 20vh 0 20vh;
    box-sizing: border-box;
    height: 110vh;
}

.adsect1 {
    width: 50%;
    padding: 25vh 0 0 0;
    box-sizing: border-box;
    text-align: left;
}

#line1 {
    margin-bottom: 1vh;
    font-size: 24px;
    font-weight: 400;
    color:#AAAAAA
}

#line2 {
    font-size: 56px;
    font-weight: 700;
    color: #5F2EEA;
}

.adsect2 {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.adsect2-container {
    width: 8vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1vh 1vh 4vh rgba(43,21,107,0.5);
}

.adsect2-container img {
    width: 8vw;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
}

.adsect2-low {
    position: relative;
    top: 6vh;
    right: 2vw;
}

.adsect2-lower {
    position: relative;
    top: 12vh;
    right: 4vw;
}