* {
    margin: 0;
    padding: 0;
}

.home-now {
    padding: 15vh 20vh 0 20vh;
    box-sizing: border-box;
    background-color: #F5F6F8;
    height: 100vh;
}

.now-class1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight:700;
}

.class1-p1 {
    font-size: 24px;
    border-bottom: 3vh;
    color: #5F2EEA;
}

.class1-p2 {
    font-size: 16px;
    color: #5F2EEA;
}

.now-class2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    color: #5F2EEA;
}

.class2-container {
    width: 18vw;
    height: 40vh;
    margin: 1vh;
    box-sizing: content-box;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 6vh;
}

.class2-container img {
    width: 12.5vw;
    height: 40vh;
    border-radius: 6px;
    object-fit: cover;
} 